.text-random{
    font-size: 18px;
    color: red;
    padding-top: 20px;
}
.text-logged-in{
    font-size: 20px;
    color: green;
    padding: 20px;
    text-align: center;
}
.product-box img {
    height: 200px;
}
.tocart{
    border-style: solid;
    border-color: #ffed00;
    border-radius: 15px;
    color: #000000;
    background-color: #ffed00;
    margin-top: 10px;
}
.tocart span{
    font-size: 15px;
}